body
{
    background-color: #4a274f;
}
.container
{
    width: 100%;
    height: 100%;
    background-color: #4a274f;
    position: fixed;
}

.header
{
    font-family: sans-serif;
    color: #f0a07c;
    text-align: center;
}

.mic
{
    width: 100px;
    height: 100px;
    margin-top: 10%;
    margin-left: auto;
    margin-right: auto;
}

#l
{
    color: #fff;
    display: none;
    font-family:sans-serif;
}

.mimic
{
    margin-top: 20%;
}
